<!-- <div class="footer"> This is Footer</div> -->
<footer>
  <div class="footer">
    <p><strong>© 2024 Rohan's Pioneers Pvt Lmt. All rights reserved.</strong></p>
    <p>
      <strong>Rohan's Pioneers Pvt Lmt</strong> is a leading provider of
      <strong>premium swimming pool services</strong>, committed to delivering
      <strong>excellence in design, construction, and maintenance</strong>. Our
      team of experts is dedicated to creating
      <strong>exceptional aquatic experiences tailored to your needs</strong>.
    </p>
    <p>
      <strong>Address:</strong> Rajpath Club | <strong>Phone:</strong> +91
      8726646429 | <strong>Email:</strong>
      <a href="mailto:mr.rohankumar30@gmail.com">mr.rohankumar30@gmail.com</a> |
      <strong>Website:</strong>
      <a href="https://rohu20.blogspot.com">rohu20.blogspot.com</a>
    </p>
    <p>
      <strong>Connect with us on</strong>
      <a href="https://rohankumar3474">rohankumar3474</a>
      <strong>for the latest updates and inspirations.</strong>
    </p>
    <p>
      <strong>Disclaimer:</strong> The information contained on this website is
      for general information purposes only. While we strive to keep the
      information up to date and correct, we make no representations or
      warranties of any kind, express or implied, about the completeness,
      accuracy, reliability, suitability, or availability with respect to the
      website or the information, products, services, or related graphics
      contained on the website for any purpose. Any reliance you place on such
      information is therefore strictly at your own risk.
    </p>
  </div>
</footer>
